.Rproj.user
.Rhistory
.RData
.Ruserdata
data/bbs/2024/All_Toutes_BBS_Full_Indices_Complets_2024.csv
data/bbs/2024/All_Toutes_BBS_Smoothed_Indices_Lisses_2024.csv
data/bbs/2024/BBS_trends_summary_2024.pdf
